<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Macro.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3EAB51DA1D365D3700408B82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3EAB51F31D365D3800408B82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3EAB51FE1D365D3800408B82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
